body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.top {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    /* background-color: antiquewhite; */
    background-image: url("images/bg-pattern-top.svg");
    transform: rotate(180deg);
}

.bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    /* background-color: lightgoldenrodyellow; */
    background-image: url("images/bg-pattern-bottom.svg");
}

article {
    width: 400px;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 35%;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    padding-top: 5em;
    text-align: center;
}

img {
    border: 5px solid white;
    border-radius: 3em;
}

.age {
    color: grey;
    font-weight: 100;
}

.city {
    color: grey;
}

.stats-container {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid rgb(240, 240, 240);
    line-height: 0.7em;
}

.grey-text {
    color: grey;
}